/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 10.02.2026, 12:21:53
    Author     : schatzsuche
*/

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 04.02.2026, 15:22:20
    Author     : User
*/


@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
body{
    font-family: "Pixelify Sans", sans-serif;
    background-color: #222f3e;
    color: #c8d6e5;
    transform: scale(2.5);
    overflow: hidden;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
}

a{
    color: pink;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}
button{
    transition: ease-in-out 0.4s;
    border: none;
    background-color: #8395a7;
    color: #c8d6e5;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #576574;
    font-family: "Pixelify Sans", sans-serif;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}
button:hover{
    transition: ease-in-out 0.3s;
    background-color: #ee5253;
    color: #feca57;
    border: 1px solid #ff6b6b;
}
.pixel-art {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
input{
    transition: ease-in-out 0.5s;
    border: none;
    background-color: #8395a7;
    color: #c8d6e5;
    border-radius: 4px;
    border: 1px solid #576574;
    font-family: "Pixelify Sans", sans-serif;
}
input:hover{
    transition: ease-in-out 0.3s;
    background-color: #ee5253;
    color: #feca57;
    border: 1px solid #ff6b6b;

}
